*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center center;
}
.homeContainer{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
}
.SearchBox{
    margin:30px;
}
.cards{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap:40px;
}
.searchSection{
    display: flex;
    width: 200px;
    align-items: center;
}
@media screen and (max-width:900px){
   .searchSection{
    padding-left: 10px;
   }
}

.menuButton{
    display: none;
    font-size: 30px;
}

@media screen and (max-width:900px){
    .menuButton{
        display: block;
    }
}

.filterContainer[dragIn]{
   animation: drag-in 0.5s ease-in;
}
@keyframes drag-in {
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(-300px);
    }
}